<!DOCTYPE html>
<html>
    <head>
        <title>Skin Cancer Detection</title>
        <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat|Lato" rel="stylesheet">
    </head>
    <body style="
    background: url(https://i.imgur.com/JJOhPUi.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div style="width: 50%;margin:auto auto;">
            <div style="background-color:rgba(30, 80, 188,0.4);padding: 7px 10px;text-align: center;">
                <h1 style="margin: 0px;font-family: 'Acme', sans-serif;color: #ffffff;font-size: 2rem;font-weight:bold;">Welcome To Skin Cancer Detection,<br>{{ user }}</h1>
                 <h1 style="margin-top: 2%;font-family: 'Lato', sans-serif;color: #ffffff;font-size: 1.4rem;font-weight:bold;">"We are in your service"</h1>
                <img src="" style="height: 72px;margin: 0px;margin-top:15px;">
            </div>
            <div style="background-color:rgba(255, 255, 255,0.9);padding-top: 5px;padding-bottom: 20px;">
                <div>
                    <h3 style="text-align: center;font-family: 'Lato', sans-serif;margin: 0px;padding: 5px 10px;font-size: 1rem;color: #0040a8;">{{ text }}</h3>
                </div>
            </div>
            <div style="padding: 15px;">
                <div style="text-align: center;">

                    <a style="border-radius:5px;color: black;
    border: 2px solid #e7e7e7;padding:0px 5px 0px 5px;text-decoration: none;font-family: 'Acme', sans-serif;color:#ffffff;font-size: 1.6rem;" href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">{{ button }}</a>

                </div>
            </div>
        </div>
    </body>
</html>